
.casa li{
    font-size: 2rem;
    background-color: rgba(84, 205, 216, 0.897);
    margin-bottom:10px;
    margin-right: 20%;
    border-radius: 20px;
    color: white;
    padding: 10px;
}


li{
    color: white;
    margin-left: 5%;
}

.subtt{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    animation: background-pan 3s reverse infinite;
    background: linear-gradient(
      to right,
      var(--green),
      var(--blue),
      var(--black),
      var(--green)
    );
    background-size: 200%;
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
  
  

}